<!-- MainPage Custom JavaScript (COULD NOT GET TO LINK)-->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="/layouts/index.js"></script> -->

<header class="home-banner">
    <h1 class="ml15">
        <span class="word">Get</span>
        <span class="word">Inspired</span>
    </h1>
    <!-- <h1 class="head">Get Inspired</h1> -->
</header>
<div class="quote-banner">
    <h3 class="quote">"Trashh economy. You use cubes of trash as money. Everybody becomes rich, it’s a gold rush."</h3>
</div>
<section class="container">
    <h2>Pick a Theme</h2>

    <div class="row">
        <div class="col-lg-12">
            <button>
                <h4>Motivate</h4>
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <button>
                <h4>Humor Me</h4>
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <button>
                <h4>Give Me Revelation</h4>
            </button>
        </div>
    </div>
</section>

<script>

var $homeBanner = $(".home-banner");
var $ml15 = $(".ml15"); //home-banner h1

$(document).ready(function() {

  anime.timeline({loop: false})
    .add({
      targets: '.ml15 .word',
      scale: [14,1.25],
      opacity: [0,1],
      easing: "easeOutCirc",
      duration: 800,
      delay: (el, i) => 800 * i
    });

setTimeout(laugh, 2500);



function laugh(){
  setTimeout(
    function(){
      $(".ml15").addClass("heroSwitch");
      $(".home-banner").addClass("bannerSwitch");
      $(".ml15").text("LAUGH");
      setTimeout(listen, 500);
    }, 0);
};

function listen(){
  setTimeout(
    function(){
      $(".ml15").text("LISTEN");
      setTimeout(relax, 500);
    }, 0);
};

function relax(){
  setTimeout(
    function(){
      $(".ml15").text("RELAX");
      setTimeout(your, 400);
    }, 0);
};

function your(){
  setTimeout(
    function(){
      $(".ml15").text("YOUR");
      setTimeout(mind, 400);
    }, 0);
};

function mind(){
  setTimeout(
    function(){
      $(".ml15").text("MIND");
    }, 0);
};


function fade() {
}

});
</script>
