<!-- MainPage Custom JavaScript (COULD NOT GET TO LINK)-->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="/layouts/index.js"></script> -->

<header class="home-banner">
    <h1 class="ml15">
        <span class="word firstline">Get</span>
        <span class="word">Inspired</span>
    </h1>
    <!-- <h1 class="head">Get Inspired</h1> -->
</header>
<div class="quote-banner">
    <h3 class="quote"></h3>
</div>
<section class="container">
    <h2>Pick a Theme</h2>

    <div class="row">
        <div class="col-lg-12">
            <button class="pipe" id="motivateBtn">
                <h4>Motivate</h4>
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <button class="pipe" id="humorBtn">
                <h4>Humor Me</h4>
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <button class="pipe" id="surpriseBtn">
                <h4>Give Me Revelation</h4>
            </button>
        </div>
    </div>
</section>
