{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    
<link rel="stylesheet" href="stylesheets/motivation.css">    
<title>Document</title>
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lobster&display=swap" rel="stylesheet"> 

</head>
<body> --}}
    <div class="motivate">
        <h1 class="head">Motivation</h1>
    </div>
    <!-- <div class="container"> -->
        <div class="row no-margin">
            <div class="col-sm-6 motivate-panel mp1">
                <h2 class=mptext>INSPIRATION</h3>
                <h3>I wish you could still smoke in Denny's so I could puff on some black and mild's while eating my grand slam.</h3>
            </div>
            <div class="col-sm-6 motivate-panel mp2">
                <h3></h3>
            </div>
            <div class="col-sm-6 motivate-panel mp3">s
                <h2 class=mptext>LAUGH</h3>
                <h3>My mom is cool. My mom will treat you right.</h3>
            </div>
            <div class="col-sm-6 motivate-panel mp4">
                <h2 class=mptext>LISTEN</h3>
                <h3>"I've said many, many, many unkind things about Philadelphia, and I meant every one." -David Lynch</h3>
            </div>
        </div>
    <!-- </div> -->
    <h2>Inspire Someone</h2>
    <form class="center">
            <label for="genreSelect">Genre</label>
            <br>
            <select id="genreSelect" name="Genre">
                <option value="Motivate">Motivate</option>
                <option value="Humor">Humor</option>
                <option value="Revelation">Revelation</option>
            </select>
            <br>
            <label for="topicSelect">Topic</label>
            <br>
            <select id="topicSelect" name="Topic">
                <option value="Inspiration">Inspiration</option>
                <option value="Laugh">Laugh</option>
                <option value="Listen">Listen</option>
            </select>
            <br>
            <textarea id="blurbEntry" name="blurb" rows="4" cols="50" placeholder="Your post here"></textarea>
            <br>
            <textarea id=authorEntry name="author"  cols="50"placeholder="your name here"></textarea>
            <br>
            <button type="submit-form" class="submit">Submit</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
{{!-- </body>
</html> --}}