<div class=" faceplate">
        <h3 class="greatquote">"When I throw a football I just pretend it's a baby, and imagine it needs to get tossed right into the arms of the receiver to get rocked to sleep. And I pretend it's a good baby, too, not like baby Hitler or some other evil baby that I ought to spike into the ground to prevent a great calamity in the future." -Oscar Wilde</h3>
    </div>
        <div class="row no-margin">
            <div class="col-sm-6 motivate-panel mp1">
                <h2 class=mptext>THE DOUGH SAYS</h3>
                <h3>The average person sheds at least 40 lbs of skin in their lifetime.</h3>
            </div>
            <div class="col-sm-6 motivate-panel mp2">
            </div>
        </div>
    {{!-- <h2>Inspire Someone</h2> --}}
    {{!-- <form class="center">
            <label for="genreSelect">Genre</label>
            <br>
            <select id="genreSelect" name="Genre">
                <option value="Motivate">Motivate</option>
                <option value="Humor">Humor</option>
                <option value="Revelation">Revelation</option>
            </select>
            <br>
            <label for="topicSelect">Topic</label>
            <br>
            <select id="topicSelect" name="Topic">
                <option value="Inspiration">Inspiration</option>
                <option value="Laugh">Laugh</option>
                <option value="Listen">Listen</option>
            </select>
            <br>
            <textarea id="blurbEntry" name="blurb" rows="4" cols="50" placeholder="Your post here"></textarea>
            <br>
            <textarea id=authorEntry name="author"  cols="50"placeholder="your name here"></textarea>
            <br>
            <button type="submit" class="submit">Submit</button>
    </form> --}}
    <script></script>