.home-banner {
    /* background-color: chocolate; */
    background-color: plum;
    height: 95vh;
    position: relative;
}

.ml15 {
    font-weight: 800;
    font-size: 7em;
    letter-spacing: 0.25em;
}
.firstline {
    font-size: 130%;
}
.ml15 .word {
    display: inline-block;
    line-height: 1.5em;
}
.home-banner h1 {
    text-align: center;
    color: lightgoldenrodyellow;
    text-shadow: 4px 4px 4px rgba(89, 1, 92, .25);
    /* font-family: 'Tangerine', serif; */
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Bangers', cursive; */
    /* font-family: 'Knewave', cursive; */
    /* font-family: 'Changa One', cursive; */
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    /* font-family: 'Faster One', cursive; */
    font-family: 'Codystar', cursive;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* HOMEPAGE BANNER TRANSITION 1 >> LAUGH */
.ml15.heroSwitch { /* Gets added to the H1 */
    font-size: 12em;
    letter-spacing: .25em;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    /* font-family: 'Tangerine', serif; */
    font-family: 'Lobster', cursive;
    /* font-family: 'Lobster Two', cursive; */
    text-transform: initial;
}
.home-banner.bannerSwitch { /* Gets added to the Header  Tag */
  background-color: #e2b915;
}

/* HOMEPAGE BANNER TRANSITION 2 >> RELAX */
.ml15.heroSwitch2 { /* Gets added to the H1 */
    font-family: 'Shadows Into Light', cursive;
    text-transform: uppercase;
}
.home-banner.bannerSwitch2 { /* Gets added to the Header  Tag */
    background-color: rgba(0, 82, 183, 1);
}

.quote-banner {
    /* background-color:orange; */
    background-color: turquoise;
}
.quote-banner .container {
  min-height: 1000px !important;
  padding-bottom: 500px;
}

body {
  height: 1400px;
}
h3 {
    color:lightgoldenrodyellow;
    text-align:center;
    font-family: "Times New Roman", Times, serif;
    font-style:italic;
    padding-top:30px;
    padding-bottom:30px;
}
.head {
    text-align: center;
    color:lightgoldenrodyellow;
    text-shadow: 4px 4px 4px rgb(89, 1, 92);
    font-family: 'Tangerine', serif;
    font-size: 80px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
body {
    background-color: rgb(247, 247, 126);
}
.pipe {
    position:absolute;
    text-align:center;
    padding:10px;
    width: 70%;
    left:15%;
    /* background-color: darkorange;  */
    background-color: darkorchid;
    color: lightgoldenrodyellow;
    transition-duration: 0.4s;
    border:none;
}
.pipe:hover {
    /* background-color:darkred; */
    background-color: darkmagenta;
    transform:scale(1.2);
    /* padding:20px;
    width:75%;
    left:12.5%; */
}
.row {
    margin-top:60px;
}
h2 {
    margin-top:40px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
.motivate{
    height: 300px;
    position: relative;
    background-image: url(https://i1.wp.com/www.society19.com/wp-content/uploads/2020/06/10-Inspirational-Quotes-That-Will-Give-You-The-Motivation-You-Need-Featured-Image.png?fit=1024%2C768&ssl=1);
}
.motivate-panel{
    padding: 25px;
    min-height: 300px;
}
.no-margin{
    margin:0px;
}
.mp1{
    background-color:turquoise;
}
.mp2{
    background-image:url(https://pbs.twimg.com/profile_images/770758699027750912/Nt4EDtW8.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
.mp3{
    background-color: violet;
}
.mp4{
    background-color: lightgreen;
}
.picktheme{
    margin-top:40px;
}
.mptext{
    margin:0;
}
.center{
    text-align: left;
    margin: auto;
    display: table;}
.submit{
    position:absolute;
    text-align:center;
    padding:10px;
    width: 25%;
    /* background-color: darkorange;  */
    background-color: darkorchid;
    color: lightgoldenrodyellow; 
    transition-duration: 0.4s;
    border:none;
}
.faceplate{
    height: 300px;
    position: relative;
    background-image:url(frida.png);
    background-size: cover;
    background-repeat:no-repeat;
}
textarea{
    border-radius: 5px;
    background-color:rgb(128, 230, 248);
    border:none;
}
form{
    padding-bottom:100px;
}
select{
    border-radius: 5px;
    background-color:rgb(128, 230, 248);
    border:none;
    margin-bottom:2px;
}